<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("Head",false)
</head>
<body>
    <div style="height:1.2em;font-size:3em;font-weight:600;background-color:#1f1f1f;color:white;text-align:center">
        ActiveSession Examples
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
