@page
@model EnumSapmleApplication.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"]="ActiveSession samples";
}
    <h1>Sample pages:</h1>
    <div>
        <ul>
            <li><a asp-page="/SequenceAdapterParams" asp-route-mode="sync">EnumAdapter sample</a></li>
        </ul>
    </div>
    
