@page
@model EnumSapmleApplication.Pages.IndexModel
@{
    //Layout = null;
}
<html>
    <head>
        <title>ActiveSession usage samples</title>
    </head>
    <body>
        <h1>Sample pages:</h1>
        <div>
            <ul>
                <li><a asp-page="/EnumAdapterSample">EnumAdapter sample</a></li>
            </ul>
        </div>
    
    </body>
</html>
